<nav>
  <ul>
    {% for category in site.categories %}
      {% if category[0] != 'help' %}
        <li class="l--push-bottom-half">
          <h2 class="heading--secondary delta">{{ category[0] | capitalize}}</h2>
          <ul class="list--slat">
            {% for post in category[1]%}
              <li><a href="{{ site.url }}{{ post.url }}" {% if post.url == page.url %}class="is-active"{% endif %}>
                {{ post.title }}
              </a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
