<!DOCTYPE html>
<html class="new-zanata new-zanata-html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="https://assets-zanata.rhcloud.com/master/assets/css/style.css">
    </head>
    <body class="new-zanata-body">

      <div class="off-canvas__outer">

        <div class="off-canvas__inner">
          <header role="banner" class="bg--pop-highest txt--s-align-center">
    <!--         <a href="#off-canvas--left" class="off-canvas__toggle--left is-hidden--m-up l--float-left"><i class="i i--huge i--list"></i><span class="is-invisible">Menu</span></a> -->
            {% if page.layout == "home" %}
            <h1 class="header__title heading--sub"><a href="/"><img class="header__site-logo" src="https://assets-zanata.rhcloud.com/master/logo.svg"> Zanata</a></h1>
            {% else %}
            <h2 class="header__title heading--sub"><a href="/"><img class="header__site-logo" src="https://assets-zanata.rhcloud.com/master/logo.svg"> Zanata</a></h2>
            {% endif %}

            <nav id="nav-main" class="header__menu is-hidden--s l--push-left-half">
              <ul class="list--horizontal">
                <li class="l--push-left-half"><a href="{% if page.root %}{{ page.root }}{% endif %}help">About</a></li>
                <li class="l--push-left-half"><a href="{% if page.root %}{{ page.root }}{% endif %}help">Community</a></li>
                <li class="l--push-left-half"><a href="{% if page.root %}{{ page.root }}{% endif %}help">Download</a></li>
                <li class="l--push-left-half"><a href="{% if page.root %}{{ page.root }}{% endif %}help" class="is-active">Help</a></li>
              </ul>
            </nav>
          </header>

          <main role="main" class="l--push-v-1">
            <div class="l__wrapper">
              <div class="g">
                <div class="g__item w--1-4">
                  {% include main-menu.html %}
                </div>
                <div class="g__item w--3-4">
                  {{ content }}
                </div>
              </div>
            </div>
          </main>

          <div class="footer">
            <div class="l__wrapper">
              Footer
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
