---
layout: default
---

<main role="main" class="l--push-v-1">
  <div class="l__wrapper">
    <div class="g">
      <div class="g__item w--3-4">
        <h1>{{ page.title }}</h1>

        <div class="post">
        {{ content }}
          <p>{{ page.tags }}</p>
        </div>
      </div>
      <div class="g__item w--1-4">
        <h2>Download Zanata</h2>
        <ul class="list--slat l--push-top-half">
          <li class="l--push-bottom-1">
            <a href="http://sourceforge.net/projects/zanata/files/server/zanata-server.zip/download" class="button--primary button--full">Zanata Server (for Zanata 3.x)</a>
          </li>
          <li>
            <a href="http://sourceforge.net/projects/zanata/files/webapp/zanata-war-3.1.2.war/download" class="button button--full">Web Application (3.1.2)</a>
            <a href="http://sourceforge.net/projects/zanata/files/" class="button button--full">Other downloads</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
