---
layout: default
---

<main role="main" class="l--push-v-1">
  <div class="l__wrapper">
    <div class="g">
      <div class="g__item w--3-4">
        <h1>{{ page.title }}</h1>

        <div class="post">
        {{ content }}
          <p>{{ page.tags }}</p>
        </div>
      </div>
      <div class="g__item w--1-4">
        <h2>Downloads</h2>
        <ul class="list--slat l--push-top-half">
          <li class="l--push-bottom-1"><a href="http://sourceforge.net/projects/zanata/files/3.x/zanata-server-3.0.2.zip/download" class="button--primary button--full">Zanata Server (3.0.2)</a></li>
          <li><a href="http://sourceforge.net/projects/zanata/files/" class="button button--full">Previous Zanata Releases</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
