---
layout: default
---

<main role="main" class="l--push-bottom-1">
  <div class="bg--primary l--pad-v-2">
    <div class="l__wrapper l--pad-v-2">
      <div class="txt--hero">
        <h2 class="l--push-all-0 alpha txt--invert">Open Translation</h2>
        <h3 class="beta txt--invert">For Everyone</h3>
      </div>
    </div>
  </div>

  <div class="bg--higher l--pad-v-1 l--push-bottom-1">
    <div class="l__wrapper">
      <p class="txt--lead">Zanata is a web-based system for <strong>translators</strong>, <strong>content creators</strong> and <strong>developers</strong> to manage localisation projects.</p>
    </div>
  </div>

  <div class="l__wrapper">
    {{ content }}
  </div>
</main>
