html {
    padding-top: 2rem;
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica', sans-serif;
    background-color: #F0F2F4;
    color: #333;
}
#not-home.container {
    padding: 60px 15px 30px;
    background-color: rgba(255,255,255,0.25);
}
#not-home h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #03A6D7;
    font-weight: 300;
}
#not-home h2 {
    font-size: 1.6rem;
    color: #546677;
    font-weight: 300;
}
h2.blog-post-title {
    margin-bottom: 0.8rem;
}
#not-home h3 {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    color: #546677;
    font-weight: 500;
}
#not-home .blog-post h3 {
    color: #03A6D7;
}
#not-home h4 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    color: #546677;
    font-weight: 500;
}
#not-home h5 {
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
    color: #546677;
    font-weight: 500;
}
a {
    color: #03A6D7;
}
a:hover {
    text-decoration: underline;
    color: #03A6D7 !important;
}
a:focus,
a:active {
    text-decoration: underline;
    color: #03A6D7 !important;
}
.communities a img.img-thumbnail {
    background-color: transparent;
    border: none;
    padding: 0;
}
.container {
    width: auto;
    max-width: 1110px;
    padding: 0 15px;
}
.container.content {
    margin-bottom: -48px;
}
.footer {
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #20718A;
    text-align: center;
    color: #fefefe;
}
.footer .container {
    width: inherit;
    padding: 1rem;
    line-height: 2rem;
}
.footer ul {
    text-align: left;
}
.footer ul li {
  color: #BDD4DC;
}
.footer ul li a{
    color: #fefefe;
}
.footer ul li a:focus, .footer ul li a:hover {
    color: #BDD4DC !important;
    text-decoration: none;
}
.rh-footer {
  background-color: #333;
  height: 7.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width:100%;
  padding-top: 1rem;
  text-align: left;
}
.rh-footer .copyright, .rh-footer .supported {
  width: 100%;
  float: left;
  color: #F0F2F4;
}
.rh-footer .copyright {
  padding-top: 0.375rem;
}
.rh-footer .supported img {
  margin-left: 0.75rem;
}
.rh-footer .supported p {
  margin-right: 0.75rem;
}
ul {
    list-style-type: none;
}
.blog-post img.img-thumbnail {
    margin-bottom: 1rem;
}
.blog-post-meta {
    color: #BDD4DC;
}
.content p.lead {
    text-align: center;
    font-weight: 500;
    color: #20718A;
}
.content p#info.lead {
    padding-bottom: 1.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.content p#contact.lead {
    background-color: #BDD4DC;
    padding: 0.375rem;
    font-weight: 600;
}
.content p#contact.lead a {
    color: #03A6D7;
}
.jumbotron p.lead.starttext {
    color: #F0F2F4;
    opacity: 0.75;
}
.jumbotron {
    background-color: #03A6D7;
    background-image: url(assets/languages.png);
}
.jumbotron h1 {
    color: #fefefe;
    font-size: 3rem;
}
.jumbotron h1 span {
    font-weight: 300;
}
.jumbotron p {
    text-align: center;
    color: #fefefe;
}
.jumbotron p.lead {
    font-size: 1.5rem;
}
.jumbotron p.lead a {
    font-weight: 600;
}
.jumbotron p.small {
    padding-top: 2rem;
    font-size: 0.875rem;
}
.jumbotron p.small a {
    color: #BDD4DC;
}
.jumbotron p a {
    font-weight: 500;
}
a.navbar-brand img {
    width: 2rem;
    height: 2rem;
}
.btn-outline-primary {
    color: #03A6D7;
    background-image: none;
    background-color: transparent;
    border-color: #03A6D7;
    border-width: 3px;
}
.btn-outline-default {
    color: #546677;
    background-image: none;
    background-color: transparent;
    border-color: #546677;
    border-width: 3px;
}
.btn-outline-primary:hover {
    color: #fefefe;
    background-color: #03A6D7;
    border-color: #03A6D7;
}
.btn-outline-primary:active {
    color: #fefefe;
    background-color: #03A6D7;
    border-color: #03A6D7;
}
.btn-outline-default:hover {
    color: #fefefe;
    background-color: #546677;
    border-color: #546677;
}
.btn-outline-default:active {
    color: #fefefe;
    background-color: #546677;
    border-color: #546677;
}
 .navbar-collapse {
   margin-top: 0.375rem;
 }
.navbar-brand {
    width: 10rem;
}
.navbar-inverse.bg-inverse {
    background-color: #F0F2F4 !important;
    color: #000;
}
.navbar-nav .nav-link {
    font-size: 1.1rem;
}
nav.blog-pagination {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tab-content {
    background-color: #fefefe;
    padding: 2rem;
}
.navbar-inverse .navbar-nav .nav-link,
.navbar-inverse .navbar-nav .active>.nav-link {
    color: #333;
}
.navbar-inverse .navbar-nav .active>.nav-link {
    font-weight: 600;
}
.container.content {
    padding-bottom: 2rem;
}
.navbar-inverse .navbar-toggler {
    background-color: #03A6D7;
}
.logo-text img {
    width: 6rem !important;
}
i.fa.fa-github-square {
    color: #333;
    vertical-align: middle;
    opacity: 0.9;
}
i.fa.fa-language {
    margin-top: 1rem;
}
.tab-content {
    padding-top: 0;
    border-left: 1px solid #BDD4DC;
    border-right: 1px solid #BDD4DC;
}
.tab-content i {
    padding-bottom: 0.75rem;
}
.tab-pane .row .col-md-8 ul {
    line-height: 2rem
}
.tab-pane .row button.btn {
    margin-left: 2rem;
}
.tab-pane .row .col-md-4 i {
    font-size: 7rem;
    color: #BDD4DC;
}
.darksm {
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.tab-pane .row .col-md-4 {
    text-align: center;
}
.nav-tabs .nav-link.active {
    border-color: #BDD4DC #BDD4DC #fefefe;
}
.nav-tabs .nav-link {
    font-size: 0.875rem;
}
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .footer ul {
        float: left;
    }
    .nav-tabs .nav-link {
        font-size: 1rem;
    }
    .rh-footer {
      height: 4.3rem;
    }
    .rh-footer .copyright, .rh-footer .supported {
      width: 50%;
      float: left;
      color: #F0F2F4;
    }
    .rh-footer .supported p {
      text-align: right;
    }
    .short-page .footer {
        position: absolute;
    }
    .communities a img.img-thumbnail {
      padding: 2rem;
    }
}
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .darksm {
        margin-left: 3rem;
        padding: 1.75rem;
        margin-top: 0;
    }
    .jumbotron h1 {
        font-size: 4.5rem;
    }
    .jumbotron .row {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
    .tab-pane .row .col-md-4 {
        text-align: right;
    }
    .nav-tabs .nav-link {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .tab-content {
        padding-top: 2rem;
    }
    .shortish-page .footer {
        position: absolute;
    }
}
/* Medium devices (tablets, 768px and up) */

@media (min-width: 992px) {
    .darklg {
        transform: skew(20deg);
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transform-origin: bottom;
        padding-left: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        padding-bottom: 3rem;
        padding-top: 1rem;
        margin-top: -3rem;
    }
    .col-lg-6.darklg > .container {
        padding-top: 4rem;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
    }
    .jumbotron p.small {
        padding-top: 1rem;
    }
}

@media (min-width: 1110px) and (max-width: 1134px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
